//output: output.html, pretty: true

//- extends ../layouts/main_layout.jade


//- block title
//-     title test project
//- 
//- block content
//-     .main-content
//-     iclude ../common/slider.jade
//- 
//-     ul
//-       li Item A
//-       li Item B
//-       li Item C    
//- 
//- .header
//-     .main_layout
//-         button    
//- 
//- 
//- a(href='google.com') link 1 
//-         |a(href='vk.com') link 2          
//-         |a(href='facebook.com') link 3 
//- 
//- h1 This  is our title
//- h4 This is another title
//- 
//- p lorem lorem  ipsum dollar
//-     |ibn for examle         
//- 
//- p. 
//-   lorem lorem  ipsum dollar
//-   ibn for examle      

header.header-site
    img.header-logs(src='',alt)
    nav
        ul
            li: a(href='') link
            li: a(href='') link2
            li: a(href='') link3
            
footer.footer-main
    nav.footer-nav
        ul
            li
              a(href='')
            li
              a(href='') 
            li 
               a(href='')                 
                
       
          
    
