header
    .home
        .container
        
            ul.nav.nav-pills.nav-justified
                li.nav-item
                    //- a.nav-link(href='#home') Home
                    a.nav-link( onclick="location.href='page2.html'") Home
                li.nav-item
                    a.nav-link(href='#about') About
                li.nav-item
                    a.nav-link(href='#skills') Skills
                li.nav-item
                    a.nav-link(href='#experience') Experience   
        #home.container             
            .header-image
                .row.justify-content-center
                    img.col-6.rounded-circle(src="img/i_am.jpg" alt="" )
                h1.header-text.col-12 ILYA BOBLAK
                p Web developer & Front-end
                                  
        
                        
