doctype
html(  xmlns:xlink="http://www.w3.org/1999/xlink" lang="UTF-8")
    head
        link(rel="stylesheet" type="text/css" href="css/style2.css")
        script(src="./js/jquery-3.3.1.min.js" type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/bootstrap-slider.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='js/mediaelement-and-player.min.js')




        /////////////////
        link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet')

        link(rel='stylesheet', href='css/theme2.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.3/css/bootstrap-slider.min.css')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/component-custom-switch.css', rel='stylesheet')
        link(href='fonts/fontello.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        meta(charset="utf-8")
        title= "Главная страница"
    body
            .container
                //.buttons
                .buttons-standard
                    h1 STANDARD BUTTONS
                    .col-1
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    .col-2
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    .col-3
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple
                    button.button BUTTON
                        .ripple





                .buttons-arrow
                    h1 ARROW BUTTONS
                    //.arrow1
                    a.circle(href='#'  onclick="return false")
                        .arrow
                    a.circle(href='#' onclick="return false")
                        .next

                    a.button-left(href='#', tabindex='0')
                    a.button-right(href='#', tabindex='0')
                    a.button-left(href='#', tabindex='0')
                    a.button-right(href='#', tabindex='0')

                .persentages
                    h1 persentages / pie shart
                    .box1(style='--v:-90deg')
                        p 0
                        // 0%
                    .box1(style='--v: 46.8deg')
                        p 38
                        .spinner.pie
                        .filler.pie
                        .mask

                                // 12.5%
                    .box2(style='--v: -46.8deg')

                        p 62
                                 // 25%
                    .box2(style='--v: 50.4deg')

                        p 89
                                // 37.5%
                    .box3(style='--v: -46.8deg')
                        p 0
                        //.box4(style='--v: 46.8deg')
                        //    p
                        //    .box5
                        //        p
                        //        .box6
                        //            p
                        //            .box7
                        //                p
                        //
                        //

                .sliders
                    h1 Stages
                    .leftslider
                        .stage
                            input(type='text', data-provide='slider', data-slider-min='0', data-slider-max='5', data-slider-step='0.01', data-slider-value='3',data-slider-tooltip='hide', data-slider-id='st')
                    .rightslider
                        .stage
                            input(type='text', data-provide='slider', data-slider-min='0', data-slider-max='100', data-slider-step='0.01', data-slider-value='3',data-slider-ticks='[1,2,3,4,5]', data-slider-ticks-labels='[0,25,50,75,100]', data-slider-tooltip='hide', data-slider-id='st')

                    h1 Stages
                    .candle
                        .stage
                            input(type='text', data-provide='slider', data-slider-min='1', data-slider-max='5', data-slider-step='1', data-slider-value='3', data-slider-ticks='[1,2,3,4,5]', data-slider-ticks-labels='[1,2,3,4,5]', data-slider-tooltip='hide', data-slider-id='st')
                        .bubble
                            .etiqueta
                            input.elInput(type='range', value='50', autocomplete='off')
                            ul
                                li 0
                                li 25
                                li 50
                                li 75
                                li 100





                .forms
                    h1 FORM ELEMENTS
                    .form-elements
                        form#name(action='' method='post')
                            .name
                                input#tb1(type='text', placeholder='Your Name', name='textBox1')
                                //label(for='tb1') ERROR
                                .name-mes
                                    .name-row
                                        p ERROR
                                    //input    //если добаавляем через js сообщение
                            .mail
                                //input#tb2(type="email", placeholder='Your Email')
                                input#tb2(type='text', placeholder='Your Email')
                                //label(for="tb2") THANKS
                                .name-mes
                                    .name-row
                                        p THANKS
                        .message
                                textarea(placeholder="Your Message")
                                //br
                                //input#Button1.button(type='button', value='submit', onclick='textarea')
                                //.ripple
                                button.button SUBMIT
                                    .ripple




                    .toggles
                        h1 TOGGLES
                        //input(type='checkbox', unchecked='')
                        //input(type='checkbox', checked='')
                        .custom-switch.custom-switch-label-onoff
                            input#ADD_ID_HERE.custom-switch-input(type='checkbox', unchecked='')
                            label.custom-switch-btn(for='ADD_ID_HERE')
                            input#AD_ID_HERE.custom-switch-input(type='checkbox',checked='')
                            label.custom-switch-btn(for='AD_ID_HERE')
                    .tick-boxes
                        h1 TICK BOXES
                        .center
                            label.label
                                input.label__checkbox(type='checkbox',checked='')
                                span.label__text
                                    span.label__check
                                        i.fa.fa-check.icon
                            label.label
                                input.label__checkbox(type='checkbox',unchecked='')
                                span.label__text
                                    span.label__check
                                        i.fa.fa-check.icon

                            a.btn(href='#'  onclick="return false" type='checkbox',checked='')
                                i.icon-check
                            a.btn(href='#'  onclick="return false" type='checkbox',unchecked='')
                                i.icon-check

                            div
                                input#checkbox-1.checkbox-custom(name='checkbox-1', type='checkbox', checked='')
                                label.checkbox-custom-label(for='checkbox-1')
                                input#checkbox-2.checkbox-custom(name='checkbox-1', type='checkbox', unchecked='')
                                label.checkbox-custom-label(for='checkbox-2')
                            div
                                input#radio-1.radio-custom(name='radio-group', type='radio', checked='')
                                label.radio-custom-label(for='radio-1')
                                input#radio-2.radio-custom(name='radio-group', type='radio')
                                label.radio-custom-label(for='radio-2')


                    .search
                        h1 SEARCH/DROP DOWN
                        .d1
                            form
                                input(type='text', placeholder='Search')
                                button(type='submit')
                        .d2
                            form
                                input.mes(type='text', placeholder='I`ve not found what I`am looking for..')
                                button(type='submit')
                        .d3
                            form
                                input(type='text', placeholder='Search')
                                button(type='submit')

                                //input.dropdown(type='text', placeholder='Search')
                                //button.dropbtn(type='submit')
                                //
                                //ul.dropn
                                    li
                                        a(href='#') Link 1
                                    li
                                        a(href='#') Link 2
                                    li
                                        a(href='#') Link 3
                                        ////////////////////////
                            //.styled-select
                                select
                                    option(value='hide') Month
                                    option Here is the first option
                                    option The second option
                            .conta
                                span.choose
                                .dropdown
                                    .select
                                        span.col Select Gender
                                        i.fa.fa-chevron-down
                                    input(type='hidden', name='gender')
                                    ul.dropdown-menu
                                        li Male
                                        li Female
                                        li Fuck
                                        Li Block

                    .user-profile
                            h1 USER PROFILE
                            .con1
                                img(src='./images/man.jpg', alt='man')
                                .name-user
                                    h3 John Smith
                                    h5 UX DESIGNER
                                    .social
                                        i.icon-facebook
                                        i.icon-twitter
                                        i.icon-dribbble
                            .con2
                                img(src='./images/wom.jpg', alt='man')
                                .name-user
                                    .social
                                        i.icon-facebook
                                        i.icon-twitter
                                        i.icon-dribbble


                .news
                    h1 NEWS & EVENTS
                    .item-1
                        img(src='./images/byc.jpg', alt='man')
                        .item-1-1
                        h3 Its all
                        h5 24 dec
                        p
                            |hellojjjjjjjjjjjjjjjjjjjj
                            |ggggggggggggggggggggggg
                            | gggggggggggggggggggggg
                    .item-2
                        img(src='./images/town.jpg', alt='man')
                        .item-1-1
                        h3 Its all
                        h5 24 dec
                        p
                            | hellojjjjjjjjjjjjjjjjjjjj
                            | ggggggggggggggggggggggg
                            | gggggggggggggggggggggg
                        button.button ADD TO CALENDAR
                            .ripple
                .location
                    h1 LOCATION
                    .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d2454.77061478459!2d47.785018695818614!3d52.0292763922815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d52.029533799999996!2d47.7845681!5e0!3m2!1sru!2sru!4v1553502414761', width='100%', height='100%', frameborder='0', style='border:0', allowfullscreen='')

                .calendar
                    h1 CALENDAR
                    #caleandar
                    //.foot TODAY
                    script(type='text/javascript', src='js/caleandar.js')
                    script(type='text/javascript', src='js/demo.js')

                .messaging
                    h1 MESSAGING
                    .blocks
                        .blocks-up
                            h2 SARAH BROWN
                            .blocks-up-layer
                        .blocks-middle
                            .blocks-middle-icon
                                .speech
                                img(src='./images/wom.jpg',class='wom', alt='woman')
                                img(src='img/Camera Icon.svg', alt='картинка на SVG')
                            .mes-wom
                                p Hi,what are you doing men
                            .mes-answ
                                p Hello all right
                            button.button REPLY
                                .ripple






                    svg
                        use(xlink:href='img/sprite.svg#Arrow_Left' fill='green')
                    svg(#Arrow_Left xmlns='http://www.w3.org/2000/svg', width='19.25', height='45.19', viewbox='0 0 9.25 25.19' fill='red' )
                        path.cls-1(d='M67.185,2529.81l1.683,1.68,7.574-7.57-1.683-1.68Zm0,0.06,1.683-1.68,7.574,7.57-1.683,1.69Z', transform='translate(-67.188 -2522.25)')

                .video
                    h1 VIDEO
                    .videopleer
                        //iframe(width='100%', height='480', src='https://www.youtube.com/embed/wYtgt507Y5k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                        video(width='100%', height='267', poster='media/cars.png')
                            source(src='media/cars.mp4', type='video/mp4')

                        h2 Hello my whity bread






            script.
                $('.button').on('click', function (e) {

                    // Click coordinates.
                    let css = {
                        top: e.offsetY,
                        left: e.offsetX
                    };

                    $('.ripple', this).css(css).addClass('ripple--animate');

                    $('.ripple').on('animationEnd animationend webkitAnimationEnd oanimationend MSAnimationEnd', function () {
                        $(this).removeClass('ripple--animate');
                    });
                });

            script.
                $(document).ready(function () {
                    //create slider
                    $('#exstage').slider();

                    //change color for inner text on page load
                    var tick = $(".slider-tick-container").children();
                    var tickLabel = $(".slider-tick-label-container").children();

                    for (var i = 0; i < tickLabel.length; i++) {
                        if (tick.eq(i).hasClass("in-selection")) {
                            tickLabel.eq(i).addClass("whiteNum");
                        }
                    }


                    //change color for inner text after clicking
                    $(".stages").click(function () {
                        var inSellection = $(".slider-tick-container").children();
                        var labbels = $(".slider-tick-label-container").children();

                        for (var i = 0; i < labbels.length; i++) {
                            if (inSellection.eq(i).hasClass("in-selection")) {
                                labbels.eq(i).addClass("whiteNum");
                            } else {
                                labbels.children(i).removeClass("whiteNum");
                            }

                        }
                    });
                });
            script.
                var etiqueta = document.querySelector(".etiqueta");
                var elInput = document.querySelector(".elInput");
                var w = parseInt(window.getComputedStyle(elInput, null).getPropertyValue('width'));console.log(w);
                w = 47.1;
                var paso = w / 100;

                var left = window.getComputedStyle(etiqueta, null).getPropertyValue('left');

                var modifyValueAttr = function () {
                    elInput.setAttribute('value', elInput.value);
                    etiqueta.innerHTML = "<p>" + elInput.value + "</p>";
                    etiqueta.style.left = ((elInput.value * paso) - 8) + "%";
                };

                window.addEventListener('load', modifyValueAttr, false);
                elInput.addEventListener('input', modifyValueAttr, false);

            script.
                /*Dropdown Menu*/
                $('.dropdown').click(function () {
                    $(this).attr('tabindex', 1).focus();
                    $(this).toggleClass('active');
                    $(this).find('.dropdown-menu').slideToggle(300);
                });
                $('.dropdown').focusout(function () {
                    $(this).removeClass('active');
                    $(this).find('.dropdown-menu').slideUp(300);
                });
                $('.dropdown .dropdown-menu li').click(function () {
                    $(this).parents('.dropdown').find('span').text($(this).text());
                    $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
                });
                /*End Dropdown Menu*/


                $('.dropdown-menu li').click(function () {
                    var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                        msg = '<span class="msg">Hidden input value: ';
                    $('.msg').html(msg + input + '</span>');
                });

                ///////////////////// calendar
            // End Calender
            // -Google Analytics Designmaz.net



            script.
                $(document).ready(function () {
                    $('video').mediaelementplayer({
                        alwaysShowControls: false,
                        videoVolume: 'horizontal',
                        features: ['playpause', 'progress', 'volume', 'fullscreen']
                    });
                });









