//- extends ../layout/home
// out: ../build/index.html, pretty: true
//- extends layout/home

block title
    | Index page
block main
    h1 page index-pug
           
                
       
          
    
