footer.footer-main
    nav.footer-nav
        ul
            li
              a НАЖМИ МЕНЯ(href='https://github.com/cwg999/broken--pug-loader/blob/stackoverflow/cwg999-response/webpack.config.js')
            li
              a(href='') 
            li 
               a(href='')      
