header.header-site
    img.header-logs(src='',alt)
    nav
        ul
            li: a НАЖМИ МЕНЯ(href='') link
            li: a НАЖМИ МЕНЯ(href='') link2
            li: a НАЖМИ МЕНЯ(href='') link3
