


html(lang="UTF-8")
    head
        link(rel="stylesheet" type="text/css" href="css/cards.css")
        meta(charset="utf-8")
        title= "Cards"
    body
        .wrap
            .col1
                .field-date
                    h3 Найдём номера под
                        br
                        | ваши пожелания
                    .box
                        .box-left
                            h5 прибытие
                            input(type='date')
                            i.fa.fa-check.icon
                        .box-right
                            h5 выезд
                            input(type='date')
                            i.fa.fa-check.icon
                    h5 Гости
                    input(type='text', placeholder='Сколько гостей')
                    i.fa.fa-check.icon
                    br
                    //.btn.main.btn-append
                    include modules/button

                   

                    include modules/button-mixin
                    +button('привет')
					
					
					
                    include modules/input-text
                    +input('Имя') 
					
					
					
                    +input('Фамилия')
					
					
                    +input('Отчество')
					
					

                .field-name
                    include modules/input-text
                    input#userPassword(type='password', placeholder='password', autocomplete='current-password')
				
				







            .col2

                .field
                    h3 Найдём номера под
                        br
                        | ваши пожелания
                    h5 прибытие
                    input(type='date')
                    h5 выезд
                    input(type='date')
            .col3
                .field
                    h3 Найдём номера под
                        br
                        | ваши пожелания
                    h5 прибытие
                    input(type='date')
                    h5 выезд
                    input(type='date')

