doctype html
html
    head
        meta(charset='utf-8')
        title Example
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        header.nav
            .container
                ul.nav.nav-pills.nav-fill
                  li.nav-item
                    a.nav-link(href='#') About
                  li.nav-item
                    a.nav-link(href='#') Profile
                  li.nav-item
                    a.nav-link(href='#') Skills
                  li.nav-item
                    a.nav-link(href='#') Contacts    
                .header-image
                    .row.justify-content-center
                        img.col-6.rounded-circle(src="img/i_am.jpg" alt="" )
                    h1.header-text.col-12 ILYA BOBLAK
                    p Web developer & Front-end
                    .social
                        a(href='#')
                            img(src='png/facebook.png', alt='')
                        a(href='#')
                            img(src='png/mail.png', alt='')  
                        a(href='#')
                            img(src='png/twitter.png', alt='')
                        a(href='#')
                            img(src='png/vk.png', alt='')                    
        .main
            .main-about.row
                img.col-4(src="img/i_am.jpg" alt="" )
                
                .main-text.col-6    
                    p ilya was born in uljanovsk 1984 15 april.in 6 years old i relocate in Balakovo
                                   
                .social.col-2.justify-content-end
                    a(href='#')
                        img(src='png/facebook.png', alt='')
                    a(href='#')
                        img(src='png/mail.png', alt='')  
                    a(href='#')
                        img(src='png/twitter.png', alt='')
                    a(href='#')
                        img(src='png/vk.png', alt='')                                      
            .main-skills.row            
        .main-texthg   
            p ilya was born in uljanovsk 1984 15 april.in 6 years old i relocate in Balakovo    
            
