extends ./pug/layout/base

block main
    .container2
        .message
            p Hi,I glad to see you!!
            
        .section-about 
            img.about-photo(src="img/6.jpg" alt="" ) 
            //- table.table.table-striped
            //-     tbody
            //-         tr
            //-             td Full Name
            //-             td ::
            //-             td Ilya Bob
            //-         tr
            //-             td Address
            //-             td ::
            //-             td My address
            //-         tr
            //-             td Zip
            //-             td ::
            //-             td 410000
            //-         tr
            //-             td Phone
            //-             td ::
            //-             td 84952222222
            //-         tr
            //-             td Email
            //-             td ::
            //-             td 111ilya@mail.ru     
            .about 
                h2 Резюме для устройства на работу
                pre 
                    b Илья Боблак
                    br
                    | Родился : 15.04.1984,г.Ульяновск,Ульяновская обл.
                    br
                    | Проживание : г.Балаково,Саратовская обл.    
                    br
                    | Готов к переезду.
                    br
                    b Контактная информация :
                    br
                    | Телефон : 89173228957
                       
                        
    
